<div class="terminal head">
  <div style="float:left; padding-right:25px;" id="return" name="return"><==</div>
  <div style="float:left; overflow:hidden;">toxic's stash</div>
  <div style="float:right;" id="x" name="x">X</div>
</div>
