<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>

      <%- include('../partials/'+header); %>
</header>

<main>
  <div class="terminal body">
    <%- include('../pages'+filename); %>
    <div class="entry" id="cursor" name="cursor">
      <div style="float:left;">> </div>
      <div style="padding-left: 10px;float:left;" class="blink">_</div>
    </div>
  </div>
</main>

<div id="modal" class="modal">
  <!-- Modal content -->
  <span class="close">&times;</span>
  <div id="modalContent">

  </div>
</div>

</body>
</html>
