<h1>Last Wish</h1>
<div class="entry"> > All credit for images goes to u/Kaneis!  <a href="https://www.reddit.com/r/DestinyTheGame/comments/9yw6up/infographic_i_made_a_44_ft_long_last_wish_guide/">Find the sauce here!</a> </div>

<h2>Symbol Guide</h2>
<img src="/public/images/lastwish_symbols.png" alt="" style="max-width: 50%;">
<br>
<h2>First Enounter: Kalli</h2>
<img src="https://i.imgur.com/fc4I27O.png" alt="" style="max-width:50%;">
<h2>Second Encounter: Shuro Chi</h2>
<img src="https://i.imgur.com/Cu1XG71.png" alt="" style="max-width:50%;">
<h2>Third Encounter: Morgeth</h2>
<img src="https://i.imgur.com/prlZLcn.png" alt="" style="max-width:50%;">
<h2>Fouth Encounter: Vault</h2>
<img src="https://i.imgur.com/vzcrPcm.png" alt="" style="max-width:50%;">
<h2>Fifth Encounter: Riven</h2>
<div class="entry"> > Now, there's two ways to do this. </div>
<div class="entry"> > The official way, below, and the BEST way.</div>
<div class="entry"> > As long as you don't hit Riven's eyes, you can just dump DPS into her mouth.</div>
<div class="entry"> > Go into the first room on the right, and watch the back wall</div>
<div class="entry"> > if you see riven's shadow moving, get ready</div>
<div class="entry"> > clear ads, eventually she pokes her head out  </div>
<div class="entry"> > shoot DIRECTLY INTO HER MOUTH, DO NOT HIT EYES </div>
<div class="entry"> > hitting her eyes wipes the party </div>
<div class="entry"> > if you did it right, she puts you in a jumping puzzle </div>
<div class="entry"> > finish it, come on out, and kill her  </div>
<div class="entry"> > if you'd prefer though, below is the proper guide </div>
<img src="https://i.imgur.com/Y5ndiVd.png" alt="" style="max-width:50%;">
<h2>Sixth Encounter: Queenswalk</h2>
<img src="https://i.imgur.com/AhgtWzJ.png" alt="" style="max-width:50%;">
