<div class="content-pane">
    <div class="menu-pane" style="">
      <div >
        <ul id="treeview">
          <li>Home</li>
          <li class="parent"><span class="caret"> Character Creation</span>
            <ul class="nested">
              <li>Starting</li>
              <li>Genetics</li>
              <li>Icons</li>
              <li class="parent"><span class="caret"> Backgrounds</span>
                <ul class="nested">
                  <li>Good</li>
                  <li>Bad</li>
                </ul>
              </li>
              <li class="parent"><span class="caret"> Archetypes</span>
                <ul class="nested">
                  <li>bussy</li>
                </ul>
              </li>
              <li>Trainings</li>
              <li>Lineages</li>
              <li>Feats</li>
            </ul>
          </li>
          <li class="parent"><span class="caret"> Equipment</span>
            <ul class="nested">
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="menu-content" style="float: left; width: 66%; border: 1px solid green;">
      <div id="content-text">
        Boilerplate message, thanks Jaina! <3
      </div>
    </div>
</div>
