
<script src="/public/js/socket.io.min.js"></script>
<script src="/public/js/cyberdeer_chat.js"></script>
<style>

</style>

<div id="menuContainer">
  >
  <button id="setUser"> Set Nickname! </button>
  <button type="button" name="button">uhhhh</button>
  <button type="button" name="button">fuck</button>
</div>
<div id="messageList"></div>
<div id="form" action="" class=".container-fluid">>
  <input id="messageInput"  autocomplete="off"/> <button id="send" name="send">Send</button>
</div>
<div id="userModal" class="modal">
  <div id="userModalCard" class="modal-card">
    <div class="modal-header">
        <div style="float:left; padding-right:25px;" id="return" name="return"><==</div>
        <div style="float:left; overflow:hidden;">Set Username</div>
        <div style="float:right;" class=".close">X</div>
    </div>
    <div id="userModalBody" class=modal-body>
      <input id="usernameField"/>
      <button id="setUser" name="setUser">Submit</button>
    </div>
  </div>
</div>
