<div class="entry">> <a href="/files/starboundmods.zip">Click here for Starbound mod zip</a></div>
<div class="entry">> <a href="/files/starboundpatch.zip">Click here for the newest Starbound patch zip</a></div>
<div class="entry">> extract all the files inside to "../Starbound/mods/" </div>
<div class="entry">> you're now good to connect to deerland.nodecraft.gg</div>
